/* @import url(https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,regular,italic,500,500italic,700,700italic,900,900italic);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,regular,500,600,700,800,300italic,italic,500italic,600italic,700italic,800italic); */
@import url(https://fonts.googleapis.com/css?family=Inter:100,200,300,regular,500,600,700,800,900);
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: "Theme";
	font-weight: 500;
	src: url("./fonts/HelveticaNeueMedium.ttf");
}
@font-face {
	font-family: "Theme";
	font-weight: 700;
	src: url("./fonts/HelveticaNeueBold.ttf");
}

body {
	margin: 0;
	font-family: sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

input[type="radio"] {
	height: 1.1rem;
	width: 1.1rem;
	margin-right: 0.5rem;
}

input[type="radio"]:checked {
	appearance: none;
	-webkit-appearance: none;
	border-radius: 50%;
	background: #2cc97d;
	border: 3px solid #fff;
	box-shadow: 0 0 0 1px #2cc97d;
}

input:focus,
textarea:focus,
select:focus {
	outline: none;
}

select {
	background-image: url("./assets/selector.svg");
	background-repeat: no-repeat;
	background-position: right;
	background-size: 17px;
	-webkit-appearance: none;
	background-position-x: 280px;
}
.hideScroll::-webkit-scrollbar {
	width: 0;
}

.formDate::-webkit-calendar-picker-indicator {
	width: 100%;
}

select {
	background: white;
}

.rounded-border{
	border-radius: 15px;
}