@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&family=Roboto:wght@400;500;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  margin: 0;
font-family:  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input[type="radio"] {
    height: 1.1rem;
    width: 1.1rem;
    margin-right: 0.5rem;
}
   
input[type ="radio"]:checked {
  appearance: none;
  -webkit-appearance: none;
  border-radius: 50%;
  background: #2cc97d;
  border: 3px solid #fff;
  box-shadow: 0 0 0 1px #2cc97d;
}

input:focus , textarea:focus, select:focus{
  outline: none;
}


select {
    background-image: url("./assets/selector.svg");
    background-repeat: no-repeat;
    background-position: right;
    background-size: 17px;
    -webkit-appearance: none;
    background-position-x: 280px;
}
.hideScroll::-webkit-scrollbar{
  width: 0;
}

